.containers {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;

}

body {
    background-color: #3a3940;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #c4b6b6;
    font-size: 8rem;
    color: #ff0c0c;
}

p {
    font-size: 2rem;
    color: #f8f8f8;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

